[Desktop Entry]
Type=Application
Name=Promptly_flutter
Comment=AI Chat Application for multiple providers
Exec=/bin/bash -c "cd /home/tibzer/Portfolio/Promptly_flutter && ./run.sh"
Icon=/home/tibzer/Portfolio/Promptly_flutter/promptly-logo.png
Terminal=true
